aioredis==1.2.0
asgi-redis==1.4.3
asgiref==3.2.1
asn1crypto==0.24.0
astroid==2.2.5
async-timeout==2.0.1
attrs==19.1.0
autobahn==19.8.1
Automat==0.7.0
cffi==1.12.3
channels==2.2.0
channels-redis==2.4.0
constantly==15.1.0
cryptography==2.7
daphne==2.3.0
Django==2.2.4
django-cors-headers==3.0.2
django-filter==2.2.0
djangorestframework==3.10.2
djangorestframework-jwt==1.11.0
hiredis==1.0.0
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
isort==4.3.21
lazy-object-proxy==1.4.1
Markdown==3.1.1
mccabe==0.6.1
msgpack==0.6.1
msgpack-python==0.5.6
pkg-resources==0.0.0
psycopg2==2.8.3
pycparser==2.19
PyHamcrest==1.9.0
PyJWT==1.7.1
pylint==2.3.1
pytz==2019.2
redis==2.10.6
rest-framework-generic-relations==1.2.1
six==1.12.0
sqlparse==0.3.0
Twisted==22.2.0
txaio==18.8.1
typed-ast==1.4.0
wrapt==1.11.2
zope.interface==4.6.0
