.logo {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.3em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0
}

.mst-header.ant-layout-header {
  line-height: 40px;
  height: 40px;
}

.float-right {
  display: inline;
  position: fixed;
  right: 0
}

.float-left {
  display: inline;
  position: absolute;
  left: 0
}
