.login-input {
    width: min-content;
}

.login-input .ant-input {
    width: 200px;
    margin: 8px 8px 8px 8px;
    flex-direction: row;
    display: inline-block;
}

.login-input .ant-btn {
    width: 200px;
    margin: 8px 8px 8px 8px;
}

.login-input .fail .ant-input {
    border-color: red
}

.login-input .ant-input.fail  {
    border-color: red
}

