.writing {
    margin: 30px 200px;
    background: #fff;
    height: fit-content;
    -webkit-box-shadow: rgba(0, 0, 0, 0.71) 5px 7px 15px -5px;;
	-moz-box-shadow: rgba(0, 0, 0, 0.71) 5px 7px 15px -5px;;
	box-shadow: rgba(0, 0, 0, 0.71) 5px 7px 15px -5px;;
    /* display: flex; */
}

.writingPage {
    display: flex;
    align-content: center;
    justify-content: center;
    /* height: fit-content; */
}

.storyTOC {
    /* flex-grow: 1; */
    width: fit-content;
    padding-right: 20px;
    margin-bottom: 50px;
    /* height: 80%; */
    /* margin: 0px 150% !important; */
    -webkit-transition: all .2s;
    transition: all .2s;
    overflow: auto;
}

.storyEditor {
    /* flex-grow: 5; */
    width: 40%;
    padding: 20px;
    margin-left: 20px;
    margin-bottom: 50px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.71) 2px 1px 9px -3px;
	-moz-box-shadow: rgba(0, 0, 0, 0.71) 2px 1px 9px -3px;
    box-shadow: rgba(0, 0, 0, 0.71) 2px 1px 9px -3px;
    height: fit-content;
}

.plot {
    margin: 10px 5px;
}


.newChapterBnt {
    width: 150px !important;
    border: none !important;
    padding-left: 16px !important;
    text-align: left !important;
    -webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

.newChapterInput {
    width: 150px !important;
}

.newPlotBnt {
    -webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
    box-shadow: none !important;
    border: none !important;
    margin: 0px 5px;
    padding: 0 !important;
}

.storyToolBar {
    text-align: center;
    margin-bottom: 20px
}

