.writing {
    margin: 30px;
    background: #fff;
    height: 100%;
    /* display: flex; */
}

.storyTOC {
    width: fit-content;
    padding-right: 20px;
    position: relative;
    /* display: inline-block; */
    margin: 30px 10% !important;
    -webkit-transition: all .2s;
    transition: all .2s;
    padding-left: 4px;
    overflow: auto;
}

.storyEditor {
    width: 50%;
    position: relative;
    padding-right: 20px;
    /* display: inline-block; */
    border-style: outset;
}
